<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/layout.css}" href="../css/layout.css" rel="stylesheet">
    <link th:href="@{/css/albumListForm.css}" href="../css/albumListForm.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{fragments/header :: header}" />

<div id="my_modal">
    <div class="titleName">앨범명 입력</div>
    <a class="modal_close_btn" style="cursor: pointer;">X</a>
    <form action="" method="post">
        <div class="addAlbumForm">
            <input type="text" class="albumName">
            <button class="addBtn">앨범 생성</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="nowPage">내 앨범</div>
    <div class="searchBar">
        <div class="galleriesText">Galleries</div>
        <div class="albumSort">정렬 방식▼</div>
        <div class="colLine"></div>
        <input type="text" id="searchName" class="searchName">
    </div>
    <div class="albumList1">
        <div class="addAlbum">
            <button id="square">+</button>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
    </div>
    <div class="albumList2">
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
        <div class="selectAlbum">
            <div class="img">썸네일</div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    function modal(id) {
    var zIndex = 9999;
    var modal = $('#' + id);

    var bg = $('<div>')
        .css({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            backgroundColor: 'rgba(0,0,0,0.4)'
        })
        .appendTo('body');

    modal
        .css({
            position: 'fixed',
            boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

            zIndex: zIndex + 1,

            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        })
        .show()
        .find('.modal_close_btn')
        .on('click', function() {
            bg.remove();
            modal.hide();
        });
}

$('#square').on('click', function() {
    modal('my_modal');
});
</script>
</body>
</html>