<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/addUserForm.css}" href="../css/addUserForm.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="logo">
    <h2>My Album</h2>
  </div>
  <form action="" th:action th:object="${user}" method="post">
    <div class="memberInfo">
      <input type="text" th:field="*{userName}" class="name" placeholder="이름" th:errorclass="field-error">
      <div class="field-error" th:error="*{userName}"></div>
    </div>
    <div class="memberInfo">
      <input type="email" th:field="*{userEmail}" class="email" placeholder="이메일" th:errorclass="field-error">
      <div class="field-error" th:error="*{userEmail}"></div>
    </div>
    <div class="memberInfo">
      <input type="text" th:field="*{userId}" class="id" placeholder="아이디" th:errorclass="field-error">
      <div class="field-error" th:error="*{userId}"></div>
    </div>
    <div class="memberInfo">
      <input type="password" th:field="*{userPassword}" class="password" placeholder="비밀번호" th:errorclass="field-error">
      <div class="field-error" th:error="*{userPassword}"></div>
    </div>
    <div class="col">
      <button class="addMemberBtn" type="submit">회원가입</button>
    </div>
    <div class="col">
      <button class="cancelBtn" th:onclick="|location.href='@{/users/login}'|" type="button">취소</button>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>