<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/loginForm.css}" href="../css/loginForm.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="mainLogo">
        <h2>My Album</h2>
    </div>
    <form action="" th:action th:object="${user}" method="post">
        <div class="memberInfo">
            <input type="text" th:field="*{userId}" class="id" placeholder="아이디 입력">
            <div class="field-error" th:error="*{userId}"></div>
        </div>
        <div class="memberInfo">
            <input type="password" th:field="*{userPassword}" class="password" placeholder="비밀번호 입력">
            <div class="field-error" th:error="*{userPassword}"></div>
        </div>
        <div class="saveId">
            <input type="checkbox">아이디 저장</input>
        </div>
        <div class="col">
            <button class="loginBtn" type="submit">로그인</button>
        </div>
        <div class="col">
            <button class="addMemberBtn" th:onclick="|location.href='@{/users/add}'|" type="button">회원가입</button>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>