.container {max-width: 500px;}
.field-error {border-color: #dc3545; color: #dc3545;}
.logo {padding-top: 15rem; padding-bottom: 1rem;}
.memberInfo{padding-bottom: 1rem;  text-align: center;}
.name {border: 1px solid black; border-radius: 6px; width: 430px; height: 35px; padding-left: 1rem;}
.id {border: 1px solid black; border-radius: 6px; width: 430px; height: 35px; padding-left: 1rem;}
.password {border: 1px solid black; border-radius: 6px; width: 430px; height: 35px; padding-left: 1rem;}
.email {border: 1px solid black; border-radius: 6px; width: 430px; height: 35px; padding-left: 1rem;}
.col {padding-bottom: 1rem; text-align: center;}
.addMemberBtn {width: 430px; height: 35px; border-radius: 6px; border: none; background-color: #dcdcdc;}
.cancelBtn {width: 430px; height: 35px; border-radius: 6px; border: none; background-color: #dcdcdc;}
h2 {text-align: center;}