<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/addMemberForm.css}" href="../css/addMemberForm.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="logo">
    <h2>My Album</h2>
  </div>
  <form action="item.html" method="post">
    <div class="memberInfo">
      <input type="text" id="id" class="id" placeholder="이름">
    </div>
    <div class="memberInfo">
      <input type="email" id="email" class="email" placeholder="이메일">
    </div>
    <div class="memberInfo">
      <input type="password" id="password" class="password" placeholder="비밀번호">
    </div>
    <div class="memberInfo">
      <input type="password" id="passwordCheck" class="passwordCheck" placeholder="비밀번호 재입력">
    </div>
    <div class="col">
      <button class="addMemberBtn" type="submit">회원가입</button>
    </div>
    <div class="col">
      <button class="cancelBtn" onclick="location.href='loginForm.html'" type="button">취소</button>
    </div>
  </form>
</div> <!-- /container -->
</body>
</html>